* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;

    color: #666;
}

.img1 {
    background-image: url(image1.png);
    min-height: 100%;
    position: relative;
    background-position: center;
    /*this is used to make image center*/
    background-size: cover;
    /* if image is not fitting well means image is fitting like big in the screen it fits image in screen*/
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: black;
    letter-spacing: normal;
    text-transform: uppercase;




}

.textbg {
    background: #767373;
    color: white;
    padding: 20px;
}

h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 38px;

}

.content {
    
    text-align: center;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;

}

.img2 {
    margin-top: 40px;
    background-image: url(image2.png);
    height: 500px;
    position: relative;
    background-position: center;
    /*this is used to make image center*/
    background-size: cover;
    /* if image is not fitting well means image is fitting like big in the screen it fits image in screen*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext1 {
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.textbg1 {
    

    padding: 20px;
    color: white;
    background-color: transparent black;
}

.section2{
    margin-top: 40px;
    
}
.content1
{
    
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 20px;
}
.img3
{
    margin-top:40px ;
    background-image: url(image3.png);
    height: 500PX;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;/*it is used for scroll only text and image remain at same fixed position*/
}

.ptext2 {
    text-align: center;
    position: relative;
    top: 50%;
    width: auto;
    color: aliceblue;
    
}
.textbg2
{
    font-size: 50px;
}
    
